$primary-gray: #F9F9FB;

.totalScore {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: column wrap;

  @media screen and (min-width: 36.1875em) {
    flex-flow: row nowrap;
  }
}

.teamData {
  text-align: center;
  flex: 1;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .75rem;
  padding: 0 .8rem;
  background-color: $primary-gray;
}
