*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #EDEEF0;
  margin: 0 auto;
  max-width: 1280px;
  font-family: Helvetica, arial, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
