$font-color: #48494A;
$primary-gray: #F9F9FB;
$secondary-gray: #DDDDDD;

.boxscore {
  background-color: #fff;
  color: $font-color;
  font-size: .91rem;
  border-radius: .91rem;
  overflow: hidden;

  td {
    border-bottom: 1px solid $secondary-gray;
  }

  &__responsive {
    display: flex;
    overflow: auto;
  }

  @media screen and (min-width: 36.1875em){
    display: inline-block;
  }
}


