.tabContainer {
  &Inline {
    display: flex;
    align-items: center;
  }
}

.tab {
  cursor: pointer;
  font-weight: bold;
  font-size: .85rem;

  &Inline {
    &:not(:last-child) {
      margin-right: .8rem;
    }
  }
}

.active {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 1.28rem;
    border-bottom: 2px solid $secondary-red;
  }
}
