$font-color: #48494A;
$primary-gray: #F9F9FB;
$secondary-gray: #DDDDDD;

.linescoreTable {
  border-spacing: 0;
  width: 7.2em;

  thead > tr {
    padding: 5em;
    height: 2.376em;
  }

  td { // lets assume boxscoreTable will always be a table 
    padding: .58rem .82rem;
    border-right: 1px solid $secondary-gray;
  }
}
